body {
  margin: auto;
  background-color: #181a1b;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // min-height: 100vh;
  height: 90vh;
  max-height: 90vh;
  overflow: hidden;
  flex-direction: column;
  max-width: 800px;
  // margin: auto;
  // gap: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// div {
//   perspective: 500px;
//   font-size: 2rem;
// }

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  h2 {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 5rem;
    font-style: normal;
    margin: 0;
    margin-top: 50px;
    // line-height: 20px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    transform: translateY(-50px);
    font-size: 2rem;
    background: -webkit-linear-gradient(#eee, #a09f9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Kaushan Script", cursive;
  }
}

#solution {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  // max-height: 300px;
  // flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  gap: 20px;
  // padding: 20px;
  background-color: black;
  background: -webkit-linear-gradient(#414141, #303030);
  border-radius: 10px;
  margin-bottom: 100px;

  .result-box_hover {
    z-index: 3;
    p {
      display: flex;
      text-align: center;
      font-size: 0.8rem;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

#result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .color-choices-container {
    display: flex;
    gap: 10px;
    .circle {
      height: 30px;
      width: 30px;
      display: inline-block;
      margin: 0 10px;
      border-radius: 50%;
      cursor: grab;
      background-color: #ffffff;
      transform: scale(1.1);
    }
  }
  .proposition {
    background: -webkit-linear-gradient(#414141, #303030);
    padding: 12px;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    .title-proposition {
      top: 0%;
      left: 10px;
      transform: translateY(-70%);
      position: absolute;
      font-family: "lato", cursive;
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
      padding: 0;
      color: #ffffff;
    }
    .user-color-choices-container {
      display: flex;
      gap: 10px;
      .slot {
        height: 50px;
        width: 50px;
        display: inline-block;
        margin: 0 10px;
        border-radius: 50%;
        // cursor: grab;
        background-color: #ffffff;
      }
    }
  }
  input {
    user-select: none;

    border: none;
    // background: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    border-radius: 10px;
    // height: 40px;
    background-color: orange;
    // font-family: "Kaushan Script";
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: black;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.span-color {
  height: 20px;
  display: inline-block;
  width: 20px;
  margin: 0 10px;
  border-radius: 50%;
}

iframe {
  pointer-events: none;
}

.result-box {
  display: grid;
  // align-items: center;
  // justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: grey;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  // overflow: hidden;
  position: relative;
  &:hover .result-box_hover {
    opacity: 1;
  }

  .result-box_pin {
    height: 8px;
    width: 8px;
    margin: auto;
    border-radius: 50%;
    background-color: red;
    user-select: none;
    pointer-events: none;
  }
}

.try-container {
  // background: -webkit-linear-gradient(#eee, #a09f9f);
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // background-color: black;
  padding: 5px 20px;
}

.brain {
  position: absolute;
  top: 0;
  left: -250px;
  height: 200px;
  width: 200px;
  background-image: url(./83ce0a0fa068b1b9bd46360eb6bd8cc7.png);
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
  transform: rotate(-12deg);
  z-index: -1;
  animation: pulse 20s linear infinite;
  @keyframes pulse {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(-12deg) scale(1.2);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }
}

.result-box_hover {
  // opacity: 0;
  display: flex;
  width: max-content;
  background-color: rgb(59, 59, 59);
  border: 2px solid rgb(136, 136, 136);
  position: absolute;
  // transform: translate(100%, -50%);
  padding: 10px;
  border-radius: 10px;
}
