body {
  margin: auto;
  background-color: #181a1b;
  padding: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  max-height: 90vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  position: relative;
}
.title h2 {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 5rem;
  font-style: normal;
  margin: 0;
  margin-top: 50px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title h3 {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, #a09f9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
}

#solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  gap: 20px;
  background-color: black;
  background: -webkit-linear-gradient(#414141, #303030);
  border-radius: 10px;
  margin-bottom: 100px;
}
#solution .result-box_hover {
  z-index: 3;
}
#solution .result-box_hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
#form .color-choices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#form .color-choices-container .circle {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  cursor: -webkit-grab;
  cursor: grab;
  background-color: #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#form .proposition {
  background: -webkit-linear-gradient(#414141, #303030);
  padding: 12px;
  padding-top: 20px;
  border-radius: 10px;
  border: 1px solid black;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
#form .proposition .title-proposition {
  top: 0%;
  left: 10px;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  position: absolute;
  font-family: "lato", cursive;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
#form .proposition .user-color-choices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#form .proposition .user-color-choices-container .slot {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
#form input {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
  background-color: orange;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#form input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.span-color {
  height: 20px;
  display: inline-block;
  width: 20px;
  margin: 0 10px;
  border-radius: 50%;
}

iframe {
  pointer-events: none;
}

.result-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: grey;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  position: relative;
}
.result-box:hover .result-box_hover {
  opacity: 1;
}
.result-box .result-box_pin {
  height: 8px;
  width: 8px;
  margin: auto;
  border-radius: 50%;
  background-color: red;
}

.try-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 20px;
}

.brain {
  position: absolute;
  top: 0;
  left: -250px;
  height: 200px;
  width: 200px;
  background-image: url(./83ce0a0fa068b1b9bd46360eb6bd8cc7.png);
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  z-index: -1;
  -webkit-animation: pulse 20s linear infinite;
          animation: pulse 20s linear infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(-12deg) scale(1.2);
            transform: rotate(-12deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(-12deg) scale(1.2);
            transform: rotate(-12deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

.result-box_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: rgb(59, 59, 59);
  border: 2px solid rgb(136, 136, 136);
  position: absolute;
  padding: 10px;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */